/*outlines elements, remove '*' to hide. */
* {
    outline-style: dotted;
    outline-color: red;
}


/* #region general */

* {
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 3vh;
    scroll-behavior: smooth;
    scrollbar-width: none;
    scroll-snap-type: y proximity;

    scroll-padding-top: 10vh;
    scroll-padding-bottom: 0;
    margin-top: 10vh;
    margin-bottom: 0vh;

    
    @media (max-width: 800px) {
        font-size: 2vh;
        scroll-snap-type: y mandatory;

        scroll-padding-top: 0;
        scroll-padding-bottom: 10vh;
        margin-top: 0;
        margin-bottom: 10vh;
    }
}

body {
    background-color: #1f2837;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: 
        radial-gradient(circle at top right,#294554,transparent 50%),
        radial-gradient(circle at top left, #273659, transparent 50%);

    @media (max-width: 800px) {
        background-image:
            radial-gradient(circle at bottom right, #294554, transparent 50%),
            radial-gradient(circle at bottom left, #273659, transparent 50%);
    }
}

/* #endregion */



/* #region header/nav */

nav {
    position: fixed;
    background-color: hsla(218, 28%, 20%, 1);
    width: 100vw;
    height: 10vh;
    top: 0;
    bottom: auto;
    z-index: 100;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    
    @media (max-width: 800px) {
        top: auto;
        bottom: 0;
    }
}

header {
    min-height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    scroll-snap-align: start;
    
    img {
        height: 50vh;
        width: auto;
        padding: 5vh;
    }

    p {
        width: 90vw;
        padding-bottom: 5vh;
        color: white;
    }
    
}


/* #endregion */



/* #region section general */

.mainSections {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    scroll-snap-align: start;
    scroll-snap-stop: always;

    h2 {
        align-self: center;
        padding: 2vh;
        color: white;
    }
}



.subSections {
    display: flex;
    min-height: 60vh;
    flex-direction: row;
    flex-grow: 1;

    div, canvas {
        align-content: center;
    }

    canvas {
        background-color: rgba(79, 108, 255, 0.562);
        max-width: 60vw;
        width: 60vw;
        flex-shrink: 0;
    }

    .sectionText {
        width: 90%;
        justify-self: center;
        color: white;
    }

    

    @media (max-width: 800px) {
        flex-direction: column;
        justify-content: space-around;
        margin-bottom: 10vh;

        canvas {
            max-width: 90vw;
            width: 80vw;
            align-self: center;
            flex-shrink: 0;

            margin: 10vh;
        }
    }
}
.subSections.reversed {
    flex-direction: row-reverse;
    
    @media (max-width: 800px) {
        flex-direction: column;
        
    }
}



/* #endregion */



/* #region section specific */

#genderSection canvas {
    background-color: rgba(255, 79, 217, 0.562);
}

/* #endregion */



footer {
    height: 20vh;
    scroll-snap-align: end;
    align-content: center;
    justify-self: center;
    
    a {
        color: white;
    }

    
}









/* #region ___NAME___ */



/* #endregion */
/* #region ___NAME___ */



/* #endregion */