/*outlines elements, remove '*' to hide. */
/* {
    outline-style: dotted;
    outline-color: red;
}*/


/* #region general */

* {
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 3vh;
    scroll-behavior: smooth;
    scrollbar-width: none;
    scroll-snap-type: y proximity;

    scroll-padding-top: 10vh;
    scroll-padding-bottom: 0;
    margin-top: 10vh;
    margin-bottom: 0;


    @media (max-width: 800px) {
        font-size: 2vh;
        scroll-snap-type: y mandatory;

        scroll-padding-top: 0;
        scroll-padding-bottom: 10vh;
        margin-top: 0;
        margin-bottom: 10vh;
    }
}

body {
    background-color: #1f2837;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: radial-gradient(circle at top right, #294554, transparent 50%),
    radial-gradient(circle at top left, #273659, transparent 50%);

    @media (max-width: 800px) {
        background-image: radial-gradient(circle at bottom right, #294554, transparent 50%),
        radial-gradient(circle at bottom left, #273659, transparent 50%);
    }
}

/* #endregion */


/* #region header/nav */

nav {
    width: 100vw;
    height: 10vh;
    position: fixed;
    top: 0;
    bottom: auto;
    z-index: 100;
    background-color: hsla(218, 28%, 20%, 1);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);

    @media (max-width: 800px) {
        top: auto;
        bottom: 0;
        box-shadow: 0 -10px 15px rgba(0, 0, 0, 0.3);
    }
}

header {
    min-height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    scroll-snap-align: start;

    h1 {
        color: white;
        display: none;
    }

    img {
        height: 50vh;
        width: auto;
        padding: 5vh;
    }

    p {
        width: 90vw;
        padding-bottom: 5vh;
        color: white;
    }
}

/* #endregion */


/* #region section general */

.mainSections {
    min-height: 90vh;

    display: flex;
    flex-direction: column;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    margin-top: 5vh;

    h2 {
        align-self: center;
        padding: 2vh;
        color: white;
    }
}

.secondaryTitle {
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
    align-self: center;
    align-items: center;
    margin-top: 5vh;
    padding: 1vh;
    background-color: hsla(218, 28%, 17%, 90);
    border-radius: 2vw;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);

    h4 {
        justify-self: center; 
        padding: 0;
        margin: 1vh;
        color: white;
    }
}


.subSections {
    display: flex;
    min-height: 60vh;
    flex-direction: row;
    flex-grow: 1;

    div {
        align-content: center;
    }

    canvas {
        flex-shrink: 0;
    }

    .sectionText {
        width: 90%;
        justify-self: center;
        color: white;
    }

    @media (max-width: 800px) {
        flex-direction: column;
        justify-content: space-around;
        margin-bottom: 10vh;

        canvas {
            max-width: 90vw;
            width: 80vw;
            align-self: center;
            flex-shrink: 0;

            margin: 10vh;
        }
    }
}

.subSections.reversed {
    flex-direction: row-reverse;

    @media (max-width: 800px) {
        flex-direction: column;

    }
}


/* #endregion */

/* #region section specific */

/* #endregion */


footer {
    height: 60vh;
    padding-top: 2vh;
    scroll-snap-align: end;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    a, p {
        color: white;
    }

    #leafletMap {
        width: 35vw;
        height: 45vh;
        margin-bottom: 2vh;
    }
}

.infotext {
    color: white;
    font-size: 70%;
}

.knapperne {

    outline: none;
    display: flex;
    list-style-type: none;

    margin-left: 4vw;
    width: 90vw;
    align-self: center;
    justify-content: space-between;
    margin-top: 3vh;

}


button {

    width: 10vw;
    height: 4vh;
    border-radius: 10vh;

    background-color: rgb(191, 248, 176);
    color: rgb(8, 6, 56);
    font-size: 60%;
    font-weight: bold;

    a {
        color: rgb(8, 6, 56);
        text-decoration: none;
    }

    /* #region ___NAME___ */

}

.dropdown {

    /* #endregion */
    /* #region ___NAME___ */

    display: grid;
    height: 5vh;
    width: 10vw;
    justify-content: center;

    #lønmenu {
        background-color: rgb(191, 248, 176);
        color: rgb(8, 6, 56);
        font-weight: bold;
    }

}

.mainCharts {
    background-color: hsla(218, 28%, 17%, 90);
    border-radius: 2vw;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
    max-height: 60vh;
    max-width: 60vw;
    margin: 0 1vw 0 1vw;
    padding: 2vh
}

.duoCharts {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    background-color: hsla(218, 28%, 17%, 90);
    border-radius: 2vw;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
    max-width: 47vw;
    max-height: 60vh;
    margin: 5vh 0 0 2vw;
    padding: 2vh
}

.surveyCharts {
    background-color: hsla(218, 28%, 17%, 90);
    border-radius: 2vw;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
    max-width: 23vw;
    max-height: 60vh;
    margin: 5vh 1vw 0 1vw;
    padding: 2vh
}



#mobil-menu {
    display: none;
}


@media (max-width: 800px) {
    button {
        display: none;
        width: 20vw;
    }

    #mobil-menu {
        display: block;
        margin-left: 35vw;

    }

    #knapperne {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 1vh;

    }

    #mobil-menu {
        /* Gør teksten stor nok til at læse (og stopper iPhone-zoom) */
        font-size: 16px;

        /* Gør boksen højere og bredere så den er nem at ramme */
        padding: 15px;
        width: 100%;

        /* Gør den pænere (fjerner standard-grå kant) */
        border: 1px solid #ccc;
    }

    border-radius: 8px; /* Runde hjørner */
    background-color: white;
    color: black;
}